#wchs-slideshow-wrapper {position:relative;overflow:hidden;width:600px;height:400px;}
#wchs-picture-container .wchs-single-slide-standard {height:400px;width:600px;overflow:hidden;float:left;position:relative;}
#wchs-picture-container .wchs-single-slide-standard img{display:block;margin:0 auto;}